@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

@font-face{
    font-family: 'android';
    src: url('../idroid.otf') format('opentype');
}

*{
    margin: 0px;
    padding: 0px;
    line-height: 1.2em;
}

:root {
    --cor01: #CBC5D9;
    --cor02: #6DA686;
    --cor03: #038C33;
    --cor04: #027333;
    --cor05: #025930;

    --font-padrao: arial, verdana, helvetica , sans-serif;
    --font-destaque: 'Bebas Neue', sans-serif;
    --font-android: 'android', 'cursive';
}

body{
    margin: 0px;
    background-color: var(--cor02);
    font-family: var(--font-padrao);
    font-size: 18px;  
}

a.externo::after{
    content: '\1F517';
}

header{
    background-image: linear-gradient(#038C33, #025930);
    margin: none;
    padding: 10px;
    text-align: center;
    color: #ebe6f8;
    min-width: 150px;
}
header > h1{
    text-shadow: 1px 1px 3px black;
    font-family: var(--font-destaque);
    font-size: 45px;
    font-weight: normal;
    margin-bottom: 20px;
}

header > p{
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    text-shadow: 0px 0px 4px black;
    text-align: center;
}
nav{
    padding: 10px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.493);
    background-color: #025930;
    text-align: center;
}

nav > a:hover{
    background-color: #6da68638;
    border-radius: 6px;
    transition-duration: 0.5s;
}

nav > a{ 
    text-decoration: none;
    color: #ebe6f8;
    padding: 10px;
}

main{
    padding: 20px;
    min-width: 280px;
    max-width: 800px;
    margin: auto;
    background-color: var(--cor01);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.637);
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1{
    font-family: var(--font-android);
    color: var(--cor05);
    font-size: 28px;
    
}

main h2{
    font-family: var(--font-android);
    color: var(--cor04);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor01), transparent); 
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 25px;
    
}

main strong{
    color: #025930;
    padding: 3px;
    border-radius: 3px;
}

main a{
    color: #025930;
    text-decoration: none;
    
}

main a:hover{
    background-color: #6da6869d;
    padding: 1px;
    border-radius: 2px;
    transition-duration: 0.3s;
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 300px;
    display: block;
    margin: auto;
}

div.video{
    background-color: #027333;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.8%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

aside{
    background-color: #18d159;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.445);
}

aside > header{
    border-radius: 10px 10px 0px 0px;
}

aside h3{
    font-size: 18px;
    text-align: left;
    font-family: var(--font-padrao);
    font-weight: bold;
    color: #d9d6df;
    padding: 0px;  
    margin: -10x -10px 0px -10;
}

aside p{
    margin: 10px;
}

aside > ul{
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
    columns: 2;
    margin: 10px;
}

footer{
    background-color: var(--cor05);
    text-align: center;
    color: var(--cor01);
    font-size: 0.8em;
}

footer a{
    text-decoration: none;
    color: #038C33;
    font-weight: bolder;
}

footer a:hover{
    text-decoration: underline;
    color: #18d159;
}

